## ESERCIZI

lista = [1, 2, 4, 3, 2, 4, 5]. Voglio una lista degli elementi non duplicati.

In [1]:
lista = [1, 2, 4, 3, 2, 4, 5]
unici=[]

for l in lista:
    if l not in unici:
        unici.append(l)

print(unici)

[1, 2, 4, 3, 5]

In [2]:
list(set(lista))

[1, 2, 3, 4, 5]

lista = [1, 2, 4, 3, 2, 4, 5, 5]. Voglio prendere il secondo numero più alto

In [3]:
lista = [1, 2, 4, 3, 2, 4, 5, 5]
l = list(set(lista))
massimo=l[-2]
massimo
#questo però non è il più corretto perchè il set non è ordinato

4

In [4]:
#lista = [1, 2, 4, 3, 2, 4, 5, 5, 6,6, 7]
lista = [7,6,6,11,20,5,5,4,2,3,4,2,1]
l = list(set(lista))
print(l)
massimo=max(l)
secondo=[]
for num in l:
    if num<massimo:
        secondo.append(num)
print(max(secondo))

[1, 2, 3, 4, 5, 6, 7, 11, 20]
11

In [119]:
n=123454321
m=str(n)
def palindromo(n):
    m=str(n)
    for i,_ in enumerate(m):
        if m[i]!=m[-(i+1)]:
            print('Il numero non è palindromo')
            return
            
    print('il numero è palindromo')
    return

palindromo(n)

Il numero non è palindromo

In [121]:
n=123454321
m=str(n)
m==m[::-1]

True

Crea una lista con tutti i valori fino a 200 divisibili per 3 ma non multipli di 5. Quanti elementi sono presenti? Qual è l'85° elemento?

In [48]:
numeri=[]

for n in range(201):
    if n%3==0 and n%5!=0:
        numeri.append(n)
"""
for i in numeri:
    if i%5==0:
        numeri.remove(i)
"""
print(numeri)
len(numeri)

[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99, 102, 108, 111, 114, 117, 123, 126, 129, 132, 138, 141, 144, 147, 153, 156, 159, 162, 168, 171, 174, 177, 183, 186, 189, 192, 198]

53

funzione. in base al num che inserisco esce un alberello con quelle linee

f(2) 

   `*`
  
  `***`
 
`*****`

In [76]:
def albero(n):
    x='*'
    for r in range(n+1):
        print(' '*(n-r) + x*(2*r-1))
        
albero(4)

   *
  ***
 *****
*******

Trasformare le lettere minuscole di una stringa in maiuscole e viceversa.

ex MannaGG -> mANNAgg

2AAsssssJiM -> 2aaSSSSSjIm

In [99]:
def maiusc_min(s):
    frase=''
    for i in s:
        if i.islower():
            maiu=i.upper()
            frase += maiu
        else:
            minu=i.lower()
            frase += minu
    return frase
        
s='Mann£aGG4'
print(maiusc_min(s))

mANN£Agg4

In [90]:
x='a'
y='b'
x+y

'ab'

In [103]:
s='Mann£aGG4'
lista=[i.upper() if i.islower() else i.lower() for i in s]
''.join(lista)

'mANN£Agg4'

data una lista di numeri, creare una lista che al posto i ha la moltiplicazione di tutti gli elementi tranne alla posizione i

[1, 2, 3] -> [6,3,2]